/* General Dark Mode Styles */
body.dark-mode {
    background-color: #1a202c;
    color: #cbd5e0;
}

/* Dark Mode adjustments */
.dark-mode .bg-white {
    background-color: #2d3748;
    color: #cbd5e0;
}

/* Button Styles */
button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4A5568;
}

/* Chart.js Dark Mode */
.dark-mode canvas {
    background-color: #2d3748;
    color: #cbd5e0;
}
